# Ignore compiled files
__pycache__/
*.pyc
test.py
test2..py
test3.py

# Ignore virtual environments
.venv/

# Ignore Robot Framework results
Results/
*.html
*.xml
*.png

# Ignore database
*.db

# VSCode settings
.vscode/
